fastapi
starlette
uvicorn
pydantic
jinja2
requests
aiohttp
pytest
httpx==0.28.1
motor
pyjwt
pydantic[email]
bcrypt
argon2-cffi
pymongo
pydantic-settings
bleach
loguru
pyyaml
toml
python-dotenv
slowapi