.modal-content-message-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha-2));
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    visibility: hidden;
    opacity: 0;
    border-radius: 2vmin;
    padding: 1rem;
    border: var(--text-color) 0.1vmin solid;
    width: 35rem;
    box-shadow: var(--box-shadow);
    max-width: 50%;
    min-width: 25%;
}

.modal-content-message-form.show {
    visibility: visible;
    opacity: 1;
}

.modal-content-message-form h2 {
    font-size: 2rem;
}

.modal-content-message-form button {
    margin: 0.5vmin;
    padding: 1vmin 2vmin;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
}

.modal-content-message-form textarea {
    padding: 0.5vmin 1vmin;
    margin: 1vmin;
    width: 90%;
    height: 10rem;
    resize: none;
    font-size: 1rem;
}

.modal-content-message-form input {
    padding: 0.5vmin 1vmin;
    margin: 1vmin;
    width: 90%;
    font-size: 1rem;
}

.modal-content-message-form .author-mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-message-form .author-mail input {
    width: 42.5%;
}

@media (max-width: 768px) {
    .modal-content-message-form {
        max-width: 90%;
        min-width: 50%;
    }
}