{% extends "base.html" %}

{% block content %}
<div class="about">
    <h1 data-translate="about_text_1">Про мене</h1>
    <p data-translate="about_text_2">Мене звати Радомир, мені 18 років, я розробник програмного забезпечення та вебсайтів. Мені подобається Python та С++, також знаю JavaScript.</p>
    <p data-translate="about_text_3">Люблю читати про економіку та урбанізацію, цікавлюся історією. Також серед моїх уподобань програмування, створення дизайну та читання Вікіпедії.</p>
    <p data-translate="about_text_4">Люблю географію, інформатику та правознавство.</p>
    <i data-translate="about_text_5">Живу в Україні. Мій день народження — 23 жовтня.</i>
    <p></p>
</div>
{% endblock %}
