<!DOCTYPE html>
<html lang="ukr" id="html">
<head class="header">
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}{{ link }}">
    <meta property="og:title" content="BR Web">
    <meta property="og:description" content="{{ title }}">
    <meta property="og:image" content="/static/image/logo.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <title>{{ title }} | BR Web</title>

    <link rel="icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/nav_menu.css">
    <link rel="stylesheet" href="/static/css/main_style.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/cookie_banner.css">
    <link rel="stylesheet" href="/static/css/language_menu.css">
    <link rel="stylesheet" href="/static/css/theme_menu.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/copy_text.css">
    <link rel="stylesheet" href="/static/css/item_style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/message_form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body theme="light">
<div id="loading-banner" class="loading-banner"></div>
<nav class="nav jetbrains-mono-br">
    <div class="nav-left">
        <button class="mobile-menu-toggle" id="mobile-menu-toggle">☰</button>
        <img src="/static/image/logo.png" alt="Logo">
        <a class="link" id="a-home" href="/">BR Web</a>
    </div>
    <div class="nav-center" id="mobile-nav-menu">
        <a href="/index" data-translate="nav_home" class="link mobile-nav-link">Головна</a>
        <a href="/project" data-translate="nav_projects" class="link mobile-nav-link">Мої проєкти</a>
        <a href="/about" data-translate="nav_about" class="link mobile-nav-link">Про мене</a>
        <a href="/contact" data-translate="nav_contact" class="link mobile-nav-link">Контакти</a>
        <a href="/blogs" data-translate="nav_blogs" class="link mobile-nav-link">Блоги</a>
        <button id="more-button" class="more-button jetbrains-mono-br" data-translate="mobile-nav_more">Більше</button>
    </div>
    <div class="nav-right">
        <button id="language-button-menu" class="lang-button">
            <span id="language-emoji">🇺🇦</span>
            <span id="language-name" class="jetbrains-mono-br">Українська</span>
        </button>
        <button id="theme-button-menu" class="emoji-button">
            <span id="theme-emoji">🔃</span>
        </button>
    </div>
</nav>
<main class="main roboto-medium-br" id="content">
    {% block content %}
    {% endblock %}
</main>
<footer class="footer jetbrains-mono-br">
    <div class="footer-left">
        <text data-translate="footer_author_photo">Автор фотографії:</text> <a href="" id="author-photo-name" class="link">Radomyr</a>
        <p></p>
        <a href="/content_used" data-translate="footer_content_used" class="link">Використаний контент</a> <a href="/cookie_policy" data-translate="footer_cookie_policy" class="link">Політика використання cookie </a>
    </div>
    <div class="footer-center">
        <text data-translate="footer_up-to-date_translation">Актуальність перекладу: 2024.10.18</text>
        <p></p>
        <text>©2024 BRamil</text>, <text data-translate="footer_rights_reserved">Всі права захищено</text>
    </div>
    <div class="footer-right">
        <a href="/index" data-translate="footer_home" class="link">Головна</a> <a href="/contact" data-translate="footer_contact" class="link">Контакти</a> <button id="form-button" class="jetbrains-mono-br" data-translate="footer_message_form">Написати через форму</button> <a href="mailto:qulowg@gmail.com" data-translate="footer_email">Написати на пошту</a>
        <p></p>
        <a href="/terms_of_use" data-translate="footer_terms_of_use" class="link">Умови використання</a> <a href="/privacy_policy" data-translate="footer_privacy_policy" class="link">Політика конфіденційності</a>
    </div>
</footer>
<div id="cookie-banner" class="cookie-banner roboto-medium-br">
    <p>
        <text data-translate="cookie_text">Цей сайт використовує файли cookie для покращення вашого користувацького досвіду. Продовжуючи використовувати наш сайт, ви погоджуєтесь на використання cookie-файлів відповідно до нашої,</text>
        <a href="/cookie_policy" data-translate="cookie_link" class="link">Політики використання cookie.</a>
    </p>
    <button id="accept-cookies" class="cookie-btn" data-translate="cookie_accept jetbrains-mono-br">Прийняти всі cookie</button>
</div>
<div id="modal" class="modal">
    <div class="modal-content roboto-medium-br">
        <h2 class="roboto-medium-br" data-translate="message_text">Написати повідомлення</h2>
        <label for="name-input"></label><input id="name-input" class="jetbrains-mono-br"  placeholder="Назва повідомлення (обов'язково)" data-translate="placeholder_message_name">
        <div class="author-mail">
            <label for="message-author-input"></label><input id="message-author-input" class="jetbrains-mono-br"  placeholder="Ваше ім'я (Необов'язково)" data-translate="placeholder_message_author">
            <label for="message-email-input"></label><input id="message-email-input" class="jetbrains-mono-br" placeholder="Ваша пошта (Необов'язково)" data-translate="placeholder_message_email">
        </div>
        <label for="message-input"></label><textarea id="message-input" class="jetbrains-mono-br" placeholder="Введіть ваше повідомлення (обов'язково)" data-translate="placeholder_message_input_text"></textarea>
        <p id="error-message"></p>
        <div class="message-button">
            <button id="send-message-button" class="jetbrains-mono-br" data-translate="message_send">Надіслати</button>
            <button class="close-button jetbrains-mono-br" id="close-modal" data-translate="message_close">Закрити</button>
        </div>
    </div>
</div>
<div id="nav-menu" class="nav-menu">
    <a href="/index" data-translate="footer_home" class="link">Головна</a>
    <a href="/contact" data-translate="footer_contact" class="link">Контакти</a>
    <a href="mailto:qulowg@gmail.com" data-translate="footer_email">Написати на пошту</a>
    <a href="/terms_of_use" data-translate="footer_terms_of_use" class="link">Умови використання</a>
    <a href="/privacy_policy" data-translate="footer_privacy_policy" class="link">Політика конфіденційності</a>
</div>
<div id="language-menu" class="language-menu"></div>
<div class="theme-menu" id="theme-menu"></div>
<div id="message-alert" class="copy-alert jetbrains-mono-br" data-translate="message_alert">Повідомлення надіслано успішно!</div>
<div id="copy-alert" class="copy-alert jetbrains-mono-br" data-translate="copy_alert">Текст скопійовано!</div>
<script src="/static/js/main.js"></script>
<script src="/static/js/background.js"></script>
<script src="/static/js/theme_menu.js"></script>
<script src="/static/js/language_menu.js"></script>
<script src="/static/js/cookie_banner.js"></script>
<script src="/static/js/copy_text.js"></script>
<script src="/static/js/load_page.js"></script>
<script src="/static/js/nav_menu.js"></script>
<script src="/static/js/message_form.js"></script>
</body>
</html>