{% extends "base.html" %}

{% block content %}
<div class="cookie_policy">
    <h2>Політика використання cookie</h2>

    <h4>1. Що таке куки?</h4>
    <p>Куки — це маленькі текстові файли, які зберігаються на вашому пристрої (комп'ютері, планшеті, смартфоні) під час відвідування веб-сайтів. Вони використовуються для того, щоб сайт міг запам'ятати інформацію про вашу взаємодію з ним.</p>

    <h4>2. Як ми використовуємо куки?</h4>
    <p>На нашому сайті ми використовуємо куки виключно для налаштування та покращення користувацького досвіду. Це включає в себе:</p>
    <ul class="centered-list">
        <li>Запам'ятовування ваших налаштувань та переваг;</li>
        <li>Збір технічної інформації для аналізу роботи сайту.</li>
    </ul>

    <h4>3. Які куки ми використовуємо?</h4>
    <p>Ми використовуємо як тимчасові (сесійні), так і постійні куки. Тимчасові куки зберігаються на вашому пристрої лише під час сеансу, тоді як постійні куки залишаються на вашому пристрої до їх видалення або до закінчення терміну дії.</p>

    <h4>4. Керування куками</h4>
    <p>Ви можете контролювати використання куків через налаштування вашого браузера. Ви маєте можливість видалити куки, які вже зберігаються, або відключити їх зовсім. Однак, будь ласка, зауважте, що це може вплинути на функціональність сайту.</p>

    <h4>5. Зміни в політиці використання cookie</h4>
    <p>Ми залишаємо за собою право змінювати цю політику в будь-який час. Всі зміни будуть опубліковані на цій сторінці. Рекомендуємо вам періодично переглядати цю політику, щоб бути в курсі змін.</p>

    <h4>6. Контактна інформація</h4>
    <p>Якщо у вас є запитання або коментарі щодо цієї політики використання cookie, будь ласка, зв'яжіться з нами через пошту на нашому сайті.</p>
</div>
{% endblock %}