{% extends "base.html" %}

{% block content %}
<div class="home">
    <h3>Ця версія сайту застаріла. Будь ласка, перейдіть на <a href="radomyr.net">radomyr.net</a>. Якщо посилання не працює — напишіть мені: <a href="github.com/BRamil0">github.com/BRamil0</a></h3>
    <h1 data-translate="home_text_1">Головна</h1>
    <p data-translate="home_text_2"><i>Привіт!</i></p>
    <div class="item-container">
        <div class="item-base">
            <a href="/project" class="link" data-translate="home_text_3">Мої проєкти</a>
        </div>
        <div class="item-base">
            <a href="/about" class="link" data-translate="home_text_4">Про мене</a>
        </div>
        <div class="item-base">
            <a href="/contact" class="link" data-translate="home_text_5">Контакти</a>
        </div>
    </div>
</div>
{% endblock %}
