{% extends "base.html" %}

{% block content %}
<div class="privacy_policy">
    <h2>Політика конфіденційності</h2>
    <i>Останнє оновлення: 2024.10.10</i>
    <p>Ми цінуємо вашу конфіденційність і прагнемо захистити ваші особисті дані. Ця політика конфіденційності описує, яку інформацію ми збираємо, як ми її використовуємо і захищаємо.</p>

    <h4>1. Збирання інформації</h4>

    <p>На нашому сайті ми не збираємо жодних особистих даних користувачів. Однак ми можемо автоматично збирати технічну інформацію про ваше пристрій і взаємодію з нашим сайтом, таку як:</p>
    <ul class="centered-list">
        <li>IP-адреса</li>
        <li>тип браузера</li>
        <li>дата і час доступу</li>
        <li>відвідані сторінки</li>
    </ul>
    <p>Цю інформацію ми використовуємо виключно для аналізу трафіку та покращення роботи нашого сайту.</p>

    <h4>2. Використання даних</h4>
    <p>Оскільки ми не збираємо особисті дані, ми не використовуємо їх для жодних цілей, таких як маркетинг або реклама. Технічна інформація, яку ми збираємо, може бути використана для:</p>
    <ul class="centered-list">
        <li>покращення функціональності сайту</li>
        <li>аналізу продуктивності сайту</li>
        <li>виявлення технічних проблем</li>
    </ul>

    <h4>3. Захист інформації</h4>
    <p>Ми вживаємо відповідні заходи для захисту технічної інформації від несанкціонованого доступу, зміни або знищення. Однак, будь-яка інформація, передана через Інтернет, може бути вразливою, і ми не можемо гарантувати абсолютну безпеку.</p>

    <h4>4. Зміни до політики конфіденційності</h4>
    <p>Ми залишаємо за собою право вносити зміни до цієї політики конфіденційності. Будь ласка, періодично перевіряйте цю сторінку, щоб дізнатися про зміни. Використання нашого сайту після внесення змін означає вашу згоду з оновленою політикою.</p>

    <h4>5. Контактна інформація</h4>
    <p>Якщо у вас є запитання або коментарі щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами через <a href="mailto:qulowg@gmail.com">qulowg@gmail.com</a>.</p>
</div>
{% endblock %}