{% extends "base.html" %}

{% block content %}
<div class="privacy_policy">
    <h2 data-translate="privacy_policy_text_1">Політика конфіденційності</h2>
    <i data-translate="privacy_policy_text_2">Останнє оновлення: 2024.10.10</i>
    <p data-translate="privacy_policy_text_3">Ми цінуємо вашу конфіденційність і прагнемо захистити ваші особисті дані. Ця політика конфіденційності описує, яку інформацію ми збираємо, як ми її використовуємо і захищаємо.</p>

    <h4 data-translate="privacy_policy_text_4">1. Збирання інформації</h4>

    <p data-translate="privacy_policy_text_5">На нашому сайті ми не збираємо жодних особистих даних користувачів. Однак ми можемо автоматично збирати технічну інформацію про ваше пристрій і взаємодію з нашим сайтом, таку як:</p>
    <ul class="centered-list">
        <li data-translate="privacy_policy_text_6">IP-адреса</li>
        <li data-translate="privacy_policy_text_7">тип браузера</li>
        <li data-translate="privacy_policy_text_8">дата і час доступу</li>
        <li data-translate="privacy_policy_text_9">відвідані сторінки</li>
    </ul>
    <p data-translate="privacy_policy_text_10">Цю інформацію ми використовуємо виключно для аналізу трафіку та покращення роботи нашого сайту.</p>

    <h4 data-translate="privacy_policy_text_11">2. Використання даних</h4>
    <p data-translate="privacy_policy_text_12">Оскільки ми не збираємо особисті дані, ми не використовуємо їх для жодних цілей, таких як маркетинг або реклама. Технічна інформація, яку ми збираємо, може бути використана для:</p>
    <ul class="centered-list">
        <li data-translate="privacy_policy_text_13">покращення функціональності сайту</li>
        <li data-translate="privacy_policy_text_14">аналізу продуктивності сайту</li>
        <li data-translate="privacy_policy_text_15">виявлення технічних проблем</li>
    </ul>

    <h4 data-translate="privacy_policy_text_16">3. Захист інформації</h4>
    <p data-translate="privacy_policy_text_17">Ми вживаємо відповідні заходи для захисту технічної інформації від несанкціонованого доступу, зміни або знищення. Однак, будь-яка інформація, передана через Інтернет, може бути вразливою, і ми не можемо гарантувати абсолютну безпеку.</p>

    <h4 data-translate="privacy_policy_text_18">4. Зміни до політики конфіденційності</h4>
    <p data-translate="privacy_policy_text_19">Ми залишаємо за собою право вносити зміни до цієї політики конфіденційності. Будь ласка, періодично перевіряйте цю сторінку, щоб дізнатися про зміни. Використання нашого сайту після внесення змін означає вашу згоду з оновленою політикою.</p>

    <h4 data-translate="privacy_policy_text_20">5. Контактна інформація</h4>
    <p><text data-translate="privacy_policy_text_21">Якщо у вас є запитання або коментарі щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами через </text><a href="mailto:qulowg@gmail.com">qulowg@gmail.com.</a></p>
</div>
{% endblock %}