{% extends "base.html" %}

{% block content %}
<div class="project">
    <h1 data-translate="project_text_1">Мої проєкти</h1>
    <div class="item-container">
        <div class="item-base">
            <text>BR Web</text>
            <a href="https://github.com/BRamil1/BR_web" class="link">github</a>
        </div>
        <div class="item-base">
            <text>Temscale</text>
            <a href="https://github.com/BRamil1/Temscale-py" class="link">github</a>
        </div>
    </div>
</div>
{% endblock %}