{% extends "base.html" %}

{% block content %}
<div>
    <h2 data-translate="register-title">Реєстрація</h2>
    <p><label for="form-register-username-input"></label><input id="form-register-username-input" class="jetbrains-mono-br"  placeholder="Ім'я користувача" data-translate="form-register-username-input" required></p>
    <p><label for="form-register-email-input"></label><input id="form-register-email-input" class="jetbrains-mono-br"  placeholder="Електронна пошта" data-translate="form-register-email-input" required></p>
    <p><label for="form-register-password-input"></label><input id="form-register-password-input" class="jetbrains-mono-br"  placeholder="Пароль" data-translate="form-register-password-input" required></p>
    <p><label for="form-register-password2-input"></label><input id="form-register-password2-input" class="jetbrains-mono-br"  placeholder="Повторіть пароль" data-translate="form-register-password2-input" required></p>
    <p><button id="form-register-button" class="jetbrains-mono-br" data-translate="form-register-button">Зареєструватися</button> <button id="form-register-problems-button" class="jetbrains-mono-br" data-translate="form-register-problems-button">Проблеми з реєстрацією?</button></p>
    <p data-translate="form-register-text">Вже маєте акаунт? <a href="/login" data-translate="form-register-text-link" class="link">Увійти</a></p>
</div>
{% endblock %}