{% extends "base.html" %}

{% block content %}
<div class="">
    <h2>Карта сайту</h2>
    <div class="item-card-container">
        <div class="card">
            <p><a href="/index" data-translate="" class="link">Головна</a></p>
            <p><a href="/project" data-translate="" class="link">Мої проєкти</a></p>
            <p><a href="/about" data-translate="" class="link">Про мене</a></p>
            <p><a href="/about_site" data-translate="" class="link">Про сайт</a></p>
            <p><a href="/contact" data-translate="" class="link">Контакти</a></p>

        </div>
        <div class="card">
            <p><a href="/blog/post_list" data-translate="" class="link">Список постів</a></p>
            <p><a href="/account/profile/my" data-account="profile" data-translate="account_profile_button" class="link">Мій профіль</a></p>
            <p><a href="/blog/create_post" data-translate="" class="link">Створити пост</a></p>
        </div>
        <div class="card">
            <p><a href="/terms_of_use" data-translate="footer_terms_of_use" class="link">Умови використання</a></p>
            <p><a href="/privacy_policy" data-translate="footer_privacy_policy" class="link">Політика конфіденційності</a></p>
            <p><a href="/cookie_policy" data-translate="footer_cookie_policy" class="link">Політика використання cookie</a></p>
            <p><a href="/content_used" data-translate="footer_content_used" class="link">Використаний контент</a></p>
        </div>
        {% if DEBUG_MODE %}
        <div class="card">
            <p><a href="/account/login" data-account="login" data-translate="account_login_button" class="link">Авторизація</a></p>
            <p><a href="/account/register" data-account="register" data-translate="account_register_button" class="link">Реєстрація</a></p>
            <p><a href="/account/settings" data-account="settings" data-translate="account_settings_button" class="link">Налаштування</a></p>
            <p><button id="form-logout-button" data-account="logout" data-translate="account_logout_button" class="roboto-medium-br">Вихід</button></p>
        </div>
        <div class="card">
            <p><a href="/openapi.json" data-translate="" class="">OpenAPI</a></p>
            <p><a href="/docs" data-translate="" class="">Swagger UI</a></p>
            <p><a href="/redoc" data-translate="" class="">ReDoc</a></p>
            <p><a href="/robots.txt" data-translate="" class="">Robots.txt</a></p>
            <p><a href="/sitemap.xml" data-translate="" class="">Sitemap.xml</a></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}