{% extends "base.html" %}

{% block content %}
<div class="terms_of_use">
    <h2>Умови використання</h2>

    <h4>1. Прийняття умов</h4>
    <p>Використовуючи цей сайт, ви погоджуєтеся з цими умовами використання. Якщо ви не згодні з якоюсь частиною цих умов, будь ласка, не використовуйте наш сайт.</p>

    <h4>2. Використання матеріалів</h4>
    <p>Всі матеріали на цьому сайті, включаючи логотипи та тексти, захищені авторським правом і є власністю BRamil. Ви маєте право переглядати, копіювати та розподіляти матеріали лише для особистого некомерційного використання, за умови, що ви не змінюєте або не видаляєте жодні авторські або інші права власності. Дизайн сайту можна використовувати в будь-яких проєктах, але з обов'язковим зазначенням автора.</p>

    <h4>3. Контент з інших джерел</h4>
    <p>Частина контенту на цьому сайті може бути взята з інших джерел і не належить BRamil. Усі автори та джерела використаного контенту будуть зазначені на сторінці <a href="/content_used" class="link">Використаний контент</a>. Ми докладаємо зусиль, щоб надавати правильну атрибуцію та дотримуватися авторських прав. Якщо ви вважаєте, що ваші авторські права порушуються, будь ласка, зв'яжіться з нами.</p>

    <h4>4. Ліцензія MIT</h4>
    <p>Весь код, доступний на цьому сайті, ліцензовано відповідно до ліцензії MIT. Ви можете використовувати, копіювати, змінювати, зливати, публікувати, розповсюджувати та продавати копії програмного забезпечення. Однак ви повинні включити копію ліцензії MIT у всі копії або значні частини програмного забезпечення.</p>

    <h4>5. Відмова від відповідальності</h4>
    <p>Сайт надається "як є", без жодних гарантій. BRamil не несе відповідальності за будь-які збитки, що виникають внаслідок використання або неможливості використання цього сайту.</p>

    <h4>6. Зміни в умовах</h4>
    <p>BRamil залишає за собою право змінювати ці умови використання в будь-який час без попереднього повідомлення. Ваше подальше використання сайту після внесення змін є підтвердженням вашої згоди з новими умовами.</p>

    <h4>7. Контактна інформація</h4>
    <p>Якщо у вас є запитання або коментарі щодо цих умов, будь ласка, зв'яжіться з нами за адресою <a href="mailto:qulowg@gmail.com">qulowg@gmail.com</a>.</p>
</div>
{% endblock %}