{% extends "base.html" %}

{% block content %}
<div class="about" data-translate-html="about_text">
    <h1>Про мене</h1>
    <p>Мене звати Радомир, мені {{ years_old }} років, я розробник програмного забезпечення та вебсайтів. Мені подобається Python та С++, також знаю JavaScript.</p>
    <p>Люблю читати про економіку та урбанізацію, цікавлюся історією. Також серед моїх уподобань програмування, створення дизайну та читання Вікіпедії.</p>
    <p>Люблю географію, інформатику та правознавство.</p>
    <i>Живу в Україні. Мій день народження — 23 жовтня.</i>
    <p></p>
</div>
{% endblock %}
