{% extends "base.html" %}

{% block content %}
<div>
    <h1 data-translate="content_text_1">Використаний контент</h1>
    <div class="item-container">
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/simpleicons.svg" alt="Logo">
            <a href="https://simpleicons.org/">Simple icons</a>
        </div>
        <div class="item-base" style="display: none">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/vercel.svg" alt="Logo">
            <a href="https://vercel.com/">Vercel</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/googlefonts.svg" alt="Logo">
            <text>JetBrains Mono</text>
            <a href="https://fonts.google.com/specimen/JetBrains+Mono">Google Fonts</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/googlefonts.svg" alt="Logo">
            <text>Roboto</text>
            <a href="https://fonts.google.com/specimen/Roboto">Google Fonts</a>
        </div>
    </div>
</div>
{% endblock %}