{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="contact-block" data-translate="contact_text">Контакти та соцмережі</h1>
    <div class="item-container">
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/telegram.svg" alt="Logo">
            <text>Telegram</text>
            <a href="https://t.me/BRamil">@BRamil</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/discord.svg" alt="Logo">
            <text>Discord</text>
            <a href="discord://discord.com/users/738725556861796442" class="copy-text">@BRamil</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/github.svg" alt="Logo">
            <text>Github</text>
            <a href="https://github.com/BRamil0">@BRamil0</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/youtube.svg" alt="Logo">
            <text>Youtube</text>
            <a href="https://www.youtube.com/@BRamil0">@BRamil0</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/instagram.svg" alt="Logo">
            <text>Instagram</text>
            <a href="https://instagram.com/radomyr.bramil">@Radomyr.BRamil</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/twitch.svg" alt="Logo">
            <text>Twitch</text>
            <a href="https://www.twitch.tv/bramil0">@BRamil0</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/x.svg" alt="Logo">
            <text>X (Twitter)</text>
            <a href="https://x.com/Bramil0">@BRamil0</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/bluesky.svg" alt="Logo">
            <text>Bluesky</text>
            <a href="https://bsky.app/profile/radomyr.net">@Radomyr.net</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/matrix.svg" alt="Logo">
            <text>Matrix</text>
            <a href="element:@BRamil:matrix.org" class="copy-text">@BRamil:matrix.org</a>
        </div>
        <div class="item-base">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/gmail.svg" alt="Logo">
            <text data-translate="email">Е-пошта</text>
            <a href="mailto:qulowg@gmail.com">qulowg@gmail.com</a>
        </div>
    </div>
</div>
{% endblock %}