{% extends "base.html" %}

{% block content %}
<div>
    <h1 data-translate="home">Головна</h1>
    <p data-translate="welcome">Ласкаво прошу</p>
    <div class="item-container">
        <a href="/project" class="link a-button w-40 h-5 text-center align-middle" data-translate="projects">Мої проєкти</a>
        <a href="/about" class="link a-button w-40 h-5 text-center align-middle" data-translate="about">Про мене</a>
        <a href="/contact" class="link a-button w-40 h-5 text-center align-middle" data-translate="contact">Контакти</a>
    </div>
</div>
{% endblock %}