{% extends "base.html" %}

{% block content %}
<div class="space-y-2">
    <h1 data-translate="login-title">Авторизація</h1>
    <p data-translate-html="">Тимчасово авторизація доступна тільки адміністрації сайту</p>
    <p><label for="form-login-email-input"></label><input id="form-login-email-input" class="jetbrains-mono-br w-96"  placeholder="Електронна пошта" data-translate="form-register-email-input" type="email" required></p>
    <p><label for="form-login-password-input"></label><input id="form-login-password-input" class="jetbrains-mono-br w-96"  placeholder="Пароль" data-translate="form-register-password-input " type="password" required></p>

    <div class="space-y-2">
        <div class="flex gap-2">
            <button id="form-login-button" class="jetbrains-mono-br w-full" data-translate="form-login-button">Авторизуватися</button>
            {% if experimental_functions %}<button id="form-login-problems-button" class="jetbrains-mono-br w-full" data-translate="form-login-problems-button">Проблеми з авторизацією?</button>{% endif %}
        </div>
        {% if experimental_functions %}<p data-translate-html="form-register-text">Немає облікового запису? <a href="/account/register" data-translate="form-login-text-link" class="link">Зареєструватися</a></p>{% endif %}
    </div>
</div>
{% endblock %}