{% extends "base.html" %}

{% block content %}
<div class="">
    <h1 data-translate="post_list">Список постів</h1>
    {% if experimental_functions %}
        <div class= "item-card w-72">
            <a href="/blog/create_post" class="link a-card">
                <h2>Створити пост</h2>
            </a>
        </div>
    {% endif %}
    <div class="item-card-container">
        {% for post in posts %}
            <a href="/blog/post/{% if post["url"] %}{{ post["url"] }}{% else %}{{ post["_id"] }}{% endif %}" class="link a-card invisible">
                <div class="item-card h-80 w-72 visible">
                    <img src="{{ post["contents"][0]["image"]["URL"] }}" alt="Image">
                    <h2>{{ post["contents"][0]["title"] }}</h2>
                    <p data-translate="">{{ post["contents"][0]["description"] }}</p>
                    <i data-translate="">{{ post["contents"][0]["author"] }}, {{ post["created_at"] }}</i>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}