{% extends "base.html" %}

{% block content %}
<div class="">
    <h1 data-translate="post_list">Список постів</h1>
    {% if experimental_functions %}
        <div class= "item-card w-72">
            <a href="/blog/create_post" class="link a-card">
                <h2>Створити пост</h2>
            </a>
        </div>
    {% endif %}
    <div class="item-card-container">
        {% for post in posts %}
            <a href="/blog/post/{% if post.URL %}{{ post.URL }}{% else %}{{ post._id }}{% endif %}" class="link a-card invisible">
                <div class="item-card h-80 w-72 visible">
                    <img src="{{ post.image }}" alt="Image">
                    <h2>{{ post.title }}</h2>
                    <p data-translate="">{{ post.description }}</p>
                    <i data-translate="">{{ post.author }}, {{ post.date_creation | format_date }}</i>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}