{% extends "base.html" %}

{% block content %}
<div class="project">
    <h1 data-translate="project_text_1">Мої проєкти</h1>
    <div class="item-container">
        <div class="card h-40 w-72">
            <h2>BR Web</h2>
            <p>Особистий вебсайт</p>
            <a href="https://github.com/BRamil1/BR_web" class="link">GitHub</a>
        </div>
        <div class="card h-40 w-72">
            <h2>xChat</h2>
            <p>Невеликий проект про одноканальний месенджер</p>
            <a href="https://github.com/BRamil1/xChat" class="link">GitHub</a>
        </div>
        <div class="card h-40 w-72">
            <h2>Temscale</h2>
            <p>Бібліотека для роботи з температурою, написана на Python</p>
            <a href="https://github.com/BRamil1/Temscale-py" class="link">GitHub</a>
        </div>
    </div>
</div>
{% endblock %}