.jetbrains-mono-br {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

.roboto-medium-br {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
