.contact-block {
    text-align: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap; /* Додає перенесення блоків на новий ряд, якщо вони не вміщаються */
    justify-content: center; /* Вирівнювання блоків по центру */
    gap: 3vmin; /* Відстань між блоками по горизонталі і вертикалі */
    border-radius: 2vmin;
}

.item-base {
    box-shadow: var(--box-shadow);
    margin: 0; /* Видалено вертикальні відступи, використовуйте gap замість цього */
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
    justify-content: center; /* Вирівнювання по горизонталі */
    gap: 2vw; /* Відстань між логотипом і текстом */

    color: var(--text-color);
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    border-radius: 2vmin;
    padding: 1rem;

    width: fit-content; /* Розмір блоку відповідно до контенту */
    max-width: 20rem; /* Максимальна ширина блоку */
}

.item-base img {
    width: 1rem;
    height: 1rem;
    filter: invert(var(--invert));
}

.item-base a {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5vb 1vw;
    border-radius: 0.5vmin;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.item-base a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.item-base text {
    border-radius: 0.5vmin;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 1000px) {
    .item-base {
        gap: 4vw; /* Відстань між логотипом і текстом */
        max-width: 40rem; /* Максимальна ширина блоку */
    }
    .item-base a {
        font-size: 2.2rem;
    }
    .item-base text {
        font-size: 2rem;
    }
    .item-base img {
        width: 4rem;
        height: 4rem;
    }
}