.language-menu {
    position: absolute; /* Розташовуємо відносно батьківського елемента */
    top: 14vb; /* Відстань від кнопки */
    right: 1.75vw; /* Вирівнювання по правій стороні */
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    color: var(--text-color);
    padding: 1vw;
    border-radius: 2vmin;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1vb; /* Відстань між елементами списку */
}

.language-menu.show {
    opacity: 1;
    visibility: visible;
}

.language-menu button {
    transform: scale(1);
    background: none; /* Без фону */
    border: none; /* Без обводки */
    color: var(--text-color);
    font-size: 1rem; /* Розмір шрифту */
    cursor: pointer; /* Курсор вказівник */
    padding: 0.5vh 1vw; /* Внутрішній відступ */
    border-radius: 1.8vmin; /* Заокруглення */
    transition: background-color 0.3s ease, color 0.3s ease; /* Анімація кольору */
    text-align: left; /* Ліве вирівнювання тексту */
}

.language-menu button:hover {
    transform: scale(1);
    background-color: var(--text-color);
    color: var(--bg-color);
}

@media (max-width: 1000px) {
    .language-menu {
        top: 10rem; /* Відстань від кнопки */
        right: 7vw; /* Вирівнювання по правій стороні */
    }
    .language-menu button {
        font-size: 2.5rem;
        padding: 2vh 4vw;
    }
}