.main {
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    color: var(--text-color);
    padding: 1vmin;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: calc(5vw + 1vh) auto;

    width: 80vw;
    max-width: 100vw;
    height: auto;
    min-height: calc(100vh - 19em);
    /* max-height: 100vh; */

    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main a {
    color: var(--text-color);
    border-radius: 1vmin;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.main button {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 1vmin;
    padding: 0.5vmin 1vmin;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.main button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.main .a-button {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 1vmin;
    padding: 0.5vmin 1vmin;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.main .a-button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.centered-list {
    list-style-type: none;
    padding: 0.2vmin;
    text-align: center;
}

.centered-list li {
    margin: calc(1vw + 1vh);
}

@media (max-width: 1000px) {
    .main {
        font-size: 2rem;
        width: 80vw; /* Адаптується до ширини вікна */
        max-width: 100vw;
        height: auto;
        min-height: calc(100vh - 16em); /* Мінімальна висота на основі вікна */
    }
}