.main {
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: calc(25px + 5px) auto;

    width: auto; /* Ширина автоматично підлаштовується */
    height: auto; /* Висота автоматично підлаштовується */

    min-height: 70vh; /* Мінімальна висота */
    min-width: 30px; /* Мінімальна ширина */

    max-width: 75vw; /* Максимальна ширина на основі розміру вікна */

    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.terms_of_use {
    display: block;
}

.terms_of_use a {
    color: var(--text-color);
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.terms_of_use a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.privacy_policy {
    display: block;
}

.privacy_policy a {
    color: var(--text-color);
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.privacy_policy a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.cookie_policy {
    display: block;
}


.centered-list {
    list-style-type: none;
    padding: 2px;
    text-align: center;
}

.centered-list li {
    margin: 5px 10px;
}
