.nav {
    position: static;
    margin: calc(1vw + 1vh);
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    font-size: 0.9rem; /* Масштабування тексту */
    font-weight: bold;
    padding: calc(0.5vw + 0.5vh);
    border-radius: 2vmin;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2vmin;
    text-decoration: none;
    white-space: nowrap;
}

.nav-center {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.nav-right {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2vw;
}

nav li {
    display: inline-block;
}

nav a, #a-home {
    color: var(--text-color);
    padding: calc(0.5vw + 0.5vh);
    border-radius: 1.8vmin;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover, #a-home:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

nav img {
    width: 3vw; /* Масштабування зображення відповідно до ширини вікна */
    height: auto;
    align-items: center;
}

.lang-button, .emoji-button, .menu-toggle {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 0.9rem; /* Масштабування кнопки */
    cursor: pointer;
    padding: 0;
    border-radius: 1vmin;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline;
}

.lang-button:hover, .emoji-button:hover, .menu-toggle:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: scale(1.2);
}

.menu-toggle {
    display: none;
}



/* Адаптивні стилі для мобільних пристроїв */
@media (max-width: 1000px) {
    .nav {
        font-size: 2.5rem;
        flex-direction: row;
    }
    nav img {
        width: 9vw;
    }

    /* Кнопка меню буде відображатися */
    .menu-toggle {
        display: inline-block;
        font-size: 2.5rem;
    }
    .lang-button, .emoji-button, .menu-toggle {
        font-size: 2.5rem;
    }

    /* Приховуємо навбар, окрім аватарки, імені та перемикачів */
    .nav-center {
        display: none; /* Ховаємо меню по замовчуванню */
    }

    .nav-right {
        display: block;
        gap: 2vmin;
        font-size: 2.5rem;
    }

    /* Коли меню відкрите */
    .nav.open .nav-center {
        text-decoration: none;
        display: flex; /* Використовуємо Flexbox */
        position: absolute;
        top: 10rem; /* Відступ зверху, щоб елемент не починався занадто високо */
        left: 50%; /* Позиціонування по центру відносно лівого краю */
        transform: translateX(-50%); /* Вирівнюємо по горизонталі */
        width: 95%;
        padding: calc(0.5vw + 0.5vh);
        border-radius: 2vmin;
        background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));

        text-align: center;
        justify-content: center; /* Центруємо вміст по горизонталі */
        /* Центруємо вміст по вертикалі */

        box-shadow: var(--box-shadow);
        z-index: 50;
    }

    .nav.open .nav-center ul {
        display: flex;
        flex-direction: column; /* Робимо меню вертикальним */
        gap: 1vmin;
    }
    nav a:active, #a-home:active {
        background-color: var(--text-color);
        color: var(--bg-color);
    }
    .lang-button:active, .emoji-button:active, .menu-toggle:active {
        background-color: var(--text-color);
        color: var(--bg-color);
        transform: scale(1.2);
    }

}

@media (max-width: 650px) {
    #a-home {
        display: none;
    }
    nav .nav-right {
        text-align: center;
        white-space: nowrap;
    }
    nav img {
        width: 9vw;
        height: auto;
    }

}