body {
    background-image: url('/static/image/pexels-leeloo-the-first-4678327.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(var(--bg-color--rgb), 0.75);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
li {
    float: left;
}
