body {
    background-image: url('/static/image/pexels-leeloo-the-first-4678327.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none; /* Забороняє взаємодію з елементом */
    opacity: 0.5; /* Зменшує непрозорість, щоб показати, що кнопка неактивна */
}