[theme=light] {
    --bg-color: #ffffff;
    --text-color: #000000;

    --text-color--cookie: #e3b300;
    --bg-color--cookie: #e3b300;
    --bg-color--cookie--btn: #e6b800;;

    --bg-color--alpha: 0.85;
    --text-color--alpha: 0.85;

    --bg-color--rgb: 255, 255, 255;
    --text-color--rgb: 0, 0, 0;
}

[theme=dark] {
    --bg-color: #000000;
    --text-color: #ffffff;

    --text-color--cookie: #ffcc00;
    --bg-color--cookie: #ffcc00;
    --bg-color--cookie--btn: #e6b800;;

    --bg-color--alpha: 0.75;
    --text-color--alpha: 0.75;

    --bg-color--rgb: 0, 0, 0;
    --text-color--rgb: 255, 255, 255;
}