.theme-menu {
    position: absolute; /* Відносне позиціювання */
    top: 14vb; /* Відстань від кнопки */
    right: 1.5vw; /* Вирівнювання по правій стороні */
    background-color: rgba(var(--bg-color--rgb), var(--bg-color--alpha));
    color: var(--text-color);
    padding: 1vw;
    border-radius: 2vmin;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Анімація показу */
    z-index: 1000;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column; /* Вертикальне вирівнювання */
    gap: 1vb; /* Відстань між кнопками */
}

.theme-menu.show {
    opacity: 1; /* Видимість */
    visibility: visible; /* Показати меню */
}

.theme-menu button {
    transform: scale(1);
    background: none; /* Без фону */
    border: none; /* Без обводки */
    color: var(--text-color);
    font-size: 1rem; /* Розмір шрифту */
    cursor: pointer; /* Курсор вказівник */
    padding: 0.5vh 1vw; /* Внутрішній відступ */
    border-radius: 1.8vmin; /* Заокруглення */
    transition: background-color 0.3s ease, color 0.3s ease; /* Анімація кольору */
    text-align: left; /* Ліве вирівнювання тексту */
}

.theme-menu button:hover {
    transform: scale(1);
    background-color: var(--text-color); /* Фон при наведенні */
    color: var(--bg-color); /* Колір тексту при наведенні */
}

@media (max-width: 1000px) {
    .theme-menu {
        top: 10rem; /* Відстань від кнопки */
        right: 2vw; /* Вирівнювання по правій стороні */
    }
    .theme-menu button {
        font-size: 2.5rem;
        padding: 2vh 4vw;
    }
    .theme-menu button:active {
        transform: scale(1);
        background-color: var(--text-color); /* Фон при наведенні */
        color: var(--bg-color); /* Колір тексту при наведенні */
    }
}